  <div class="video-wrapper">
        <center>
          <iframe width="560" height="315" src="//www.youtube.com/embed/xr5bZ2ZR28w" frameborder="0" allowfullscreen></iframe>
        </center>
        </div>
        <hr>

        <p>
          In this episode we show you how to use the brand new Rails 4.1 feature called ‘Variants’
          
          Variants is a way of selecting different templates to render based on which device is accessing the application. This can be very handy when you don’t want to muck about with responsiveness.
          
          Generally having a separate template is preferable since it means you can completely isolate your desktop UI from the mobile UI, giving you more flexibility.
          </p>
          <br>
          <pre>

if flash[:type] == :success
  'alert-success'
elsif flash[:type] == :error
  'alert-danger'
elsif flash[:type] == :warn
  'alert-warning'
elsif flash[:type] == :info
  'alert-info'
end
          </pre>

        <br>

          <div class="bs-example" data-example-id="hoverable-table">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>