  <div class="video-wrapper">
        <center>
          <iframe width="560" height="315" src="//www.youtube.com/embed/X6OnNLtJq_Q" frameborder="0" allowfullscreen></iframe>
        </center>
        </div>
        <hr>

        <p>
        DevOps for Developers is a video series for developers who want to understand how servers work, and how to build one for serving your applications. Whether your working with Ruby / Rails or NodeJS or any other platform, having a good understanding of how your application is served can give you a big advantage when your solving problems in your apps.
          </p>
          <br>
          <pre>

if flash[:type] == :success
  'alert-success'
elsif flash[:type] == :error
  'alert-danger'
elsif flash[:type] == :warn
  'alert-warning'
elsif flash[:type] == :info
  'alert-info'
end
          </pre>

        <br>

          <div class="bs-example" data-example-id="hoverable-table">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>