  <div class="video-wrapper">
        <center>
          <iframe width="560" height="315" src="//www.youtube.com/embed/rSlDEvtk6lA" frameborder="0" allowfullscreen></iframe>
        </center>
        </div>
        <hr>

        <p>
          In this episode we show you how to use the brand new Rails 4.1 feature called ‘Variants’
          
          Variants is a way of selecting different templates to render based on which device is accessing the application. This can be very handy when you don’t want to muck about with responsiveness.
          
          Generally having a separate template is preferable since it means you can completely isolate your desktop UI from the mobile UI, giving you more flexibility.
          </p>
        <br><pre>
<span style="color: blue;">if</span> flash[:type] == <span style="color: red">:success</span>
'alert-success'

<span style="color: blue;">elsif</span> flash[:type] == <span style="color: red">:error</span>
'alert-danger'

<span style="color: blue;">elsif</span> flash[:type] == <span style="color: red">:warn</span>
'alert-warning'

<span style="color: blue;">elsif</span> flash[:type] == <span style="color: red">:info</span>
'alert-info'
<span style="color: blue;">end</span>
</pre>
      <br>

        <div class="bs-example" data-example-id="hoverable-table">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Database actions</th>
                  <th>Create</th>
                  <th>Read</th>
                  <th>Update</th>
                  <th>Destroy</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Code</th>
                  <td>new(*)</td>
                  <td>find(*)</td>
                  <td>save(*)</td>
                  <td>delete(*)</td>
                </tr>
                <tr>
                  <th scope="row">HTTP Verbs</th>
                  <td>put</td>
                  <td>get</td>
                  <td>post</td>
                  <td>delete</td>
                </tr>
              </tbody>
            </table>
            <p>
              DevOps for Developers is a video series for developers who want to understand how servers work, and how to build one for serving your applications. Whether your working with Ruby / Rails or NodeJS or any other platform, having a good understanding of how your application is served can give you a big advantage when your solving problems in your apps.
            </p>
          </div>